.about{
    margin-top: 50px;
}
.icon{
    color:gold;
    margin-left: 20px;
}
@media only screen and (min-width: 600px) {
    
    .skills-btn{
        margin-left:-240px;
    }
    .link-list{
        margin-left:-570px;

    }
  }

  @media only screen and (max-width: 600px) {
    
   
    .link-list{
        margin-left:-370px;
        
    }
    .about-img{
        display:none;
    }
  }