.insta-icon{
    font-size: 25px;
    color:gold;
}
.fb-icon{
    font-size: 25px;
    color:gold;
  
}
.youtube-icon{
    font-size: 25px;
    color:gold;
   
}
.google-icon{
    font-size: 25px;
    color:gold;
}