.banner{
    background-color: black;
    color:white;
}
.main-img{
    height:300px;
   border-radius: 50%;
 
  
}
.phone{
    font-size: 16px;
}
@media only screen and (min-width: 600px) {
    .resume-btn {
       margin-left:-240px;
    }
    .skills-btn{
        margin-left:-240px;
    }
  
  }
